* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

/* .page-section {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
} */

/* HEADER */

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7%;
    padding: 20px 3%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    overflow-wrap: normal;
}

.divbg {
    position: absolute;
    background-color: black;
    top: 5%;
    right: 0.5%;
    height: 100%;
    width: 100%;
    z-index: -4;
    opacity: 0.4;
}

.logo img {
    position: relative;
    display: flex;
    top: 10%;
    left: 3%;
    height:6rem;
    width: 10rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar a {
    position: relative;
    display: flex;
    font-size: 130%;
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    letter-spacing: 0.2rem;
    margin: 0 25px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: -9px;
    top: 0;
    height: 110%;
    width: 125%;
    background-color: #eead2b;
    background-position: center;
    border-radius: 5px;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.navbar a:hover::after,
.navbar a:active{
    color: #ffffff;
    transform: scaleY(1.75) ;
    opacity: 1;
}

/* Landing */

.Main {
    position: relative;
    display: flex;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    scroll-snap-align: center;
}

.BG {
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.Mainsub {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 80%;
    width: 80%;
    top: 10%;
    right: 5%;
}

.Pose {
    position: absolute;
    height: 95%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 400px;
}

.tagline {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 45%;
    z-index: 2;
    height: 55%;
    width: 60%;
    justify-content: center;
}

.tagline p#p1 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline p#p2 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline h1#headline {
    z-index: 2;
    color: #eead2b;
    font-size: clamp(1rem, 5vw, 7rem);
    font-weight: bold;
    letter-spacing: 0.5%;
    font-family: Georgia;
}

.seats {
    position: absolute;
    top: 64%;
    left: 0;
    width: 100vw;
    height: 60vh;
    z-index: 2;
    opacity: 1;
}

/* About Me */
.About_Me {
    position: relative;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, rgb(53, 5, 5) 1%, rgb(7, 0, 0) 40%);
    scroll-snap-align: center;
    flex-direction: column;
}

.gear_container {
    position: absolute;
    display: flex;
    height: 10.3%;
    width: 45vw;
    top: 25%;
    left: 5%;
    z-index: 2;
    align-items: center;
    background-image: url(Resources/Images/banner.jpg);
    background-position: center;
    border-radius: 150px;
    justify-content: center;
    box-shadow: 0px 0px 50px rgb(94, 67, 67);    
}

#gear_text {
    position: relative;
    height: 70%;
    width: 80%;
    color: #eead2b;
    font-size: clamp(2rem, 3vw, 5em);
    text-shadow: 0.5rem 0.5rem 15px rgb(0,0,0.5);
}

.gear_container p {
    text-shadow: 20px, 20px;
}

.mask {
    position: absolute;
    right: 5%;
    display: flex;
    height: 80%;
    width: 50%;
}

#smile {
    position: relative;
    height: 50%;
    width: 40%;
    top: 10%;
    left: 10%;
    animation: float1 4s infinite;
    animation-timing-function: ease-in-out;
}

#frown {
    position: relative;
    height: 50%;
    width: 40%;
    top: 50%;
    left: 25%;
    animation: float2 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float1 {
    0%, 100% {transform: translateY(-10px);}
    50% {transform: translateY(40px);}
}

@keyframes float2 {
    0%, 100% {transform: translateY(30px);}
    50% {transform: translateY(-20px);}
}



.MainContainer {
    position: relative;
    display: flex;
    height: 70%;
    width: 90%;
    flex-direction: row;
    z-index: 4;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.text_content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 47%;
    z-index: 1;
    left: 2%;
    color: white;
    justify-content: start;
    gap: 5%;
}

.text_content h1 {
    position: relative;
    font-size: clamp(2rem, 2vw, 2.5rem);
}

.text_content p {
    position: relative;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.profile_picture {
    position: relative;
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pp {
    position: relative;
    height: 100%;
    width: 80%;
    z-index: 3;

}

/* SKILL */

.skill {
    position: relative;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    top: 15%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(53, 5, 5) 1%, rgb(7, 0, 0) 40%);
    scroll-snap-align: center;
}

.props2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.props2 .bulb1 {
    position: absolute;
    height: 50%;
    width: 27%;
    top: 0%;
    opacity: 0.5;
    right: 80%;
}

.props2 .bulb2 {
    position: absolute;
    height: 60%;
    width: 40%;
    bottom: 60%;
    opacity: 1;
    left: 10%;
}

.props2 .bulb3 {
    position: absolute;
    height: 30%;
    width: 25%;
    bottom: 80%;
    left: 40%;
    opacity: 0.4;
}

.props2 .bulb4 {
    position: absolute;
    height: 60%;
    width: 35%;
    bottom: 65%;
    left: 55%;
    opacity: 1;
}

.props2 .bulb5 {
    position: absolute;
    height: 20%;
    width: 8%;
    bottom: 75%;
    left: 90%;
    opacity: 0.5;
}


.Mainsub1 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 5%;
    height: 70%;
    width: 32%;
    justify-content: center;
    gap: 2%;
}

.Mainsub1 h1#name {
    position: relative;
    z-index: 2;
    left: 0.6em;
    color: #eead2b;
    font-size: clamp(2rem, 4vw, 5em);
    letter-spacing: 0.5px;
    font-family: Georgia;
}

.Mainsub1 p#p3 {
    position: relative;
    display: flex;
    top: -3%;
    left: 2em;
    z-index: 2;
    color: #eaeaeb;
    font-size: clamp(1rem, 1vw, 2em);
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1.3;
}


.Mainsub1 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-image: url(Resources/Images/Placard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-start;
    justify-content: center;
    height: 60%;
    width: 100%;
    z-index: 2;
    bottom: 4%;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}

.skill .card p {
    position: relative;
    left: 15%;
    font-size: clamp(1rem, 2vw, 3em);
    letter-spacing: 0.2rem;
    color: black;
}

.skill .card ul {
    position: relative;
    left: 25%;
    font-size: clamp(1rem, 1.2vw, 2em);
}

/* DECK */

.skill .deck {
    position: relative;
    top: 7%;
    height: 80vh;
    width: 50%;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    /* perspective: 10000px; */
}
 .deck .slider {
    position: absolute;
    justify-content: center;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 40%;
    left: calc(50% -100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 25s linear infinite;
 }

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
    } to {
        transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
    }
}


 .deck .slider .item {
    position:absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360/var(--quantity)) *1deg))
        translateZ(250px);
 }

 .deck .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 }

 .item {
    color: whitesmoke;
    font-family: Georgia;
    font-size: 1.5em;
    font-weight: bold;
 }

 .peri {
    position: relative;
    height: 20vh;
    width: 100vw;
    bottom: 10%;
    right: 10%;
    z-index: 2;
 }

 .ring {
    position: relative;
    height: 100%;
    width: 40%;
    left: 62%;
    bottom: 40%;
    animation: glowing 5s infinite;
    animation-timing-function: ease-in-out;
 }

@keyframes glowing {
    0%,100% {
        filter: drop-shadow(0 0 5px #eead2b);
    }
    50% {
        filter: drop-shadow(0 0 45px #eead2b)
    }
}


 /* Socials */
 .socials {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(53, 5, 5) 1%, rgb(7, 0, 0) 40%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
 }

.socials .Mainsub2 {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    background-color: transparent;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
}


 .socials .Mainsub2 .cat {
    position: relative;
    background-color: transparent;
    height: 50%;
    width: 50%;
    animation: fadeIn 4s infinite, floatUp 4s infinite;
    animation-timing-function: ease-in-out;
    z-index: 2;
}
@keyframes fadeIn {
    50% { opacity: 0.5;}
    100% { opacity: 1; }
    200% { opacity: 0.5; }
}

@keyframes floatUp {
    0%, 100% { transform: translateY(-20); }
    50% { transform: translateY(40px); }
}

 .cat img {
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
 }

.socials .Mainsub2 .acc {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 50%;
    width: 15%;
    gap: 5%;
    justify-content: center;
    justify-content: space-between;
    z-index: 10;
}

.socials .Mainsub2 .acc img{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.socials .Mainsub2 .social_name {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 50%;
    width: 25%;
    justify-content: space-evenly;
    top: 3%;
    gap: 25%;
    right: 10%;
    z-index: 10;
}

.social_name a {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3vw, 5em);
    color: white;
    justify-content: space-evenly;
    text-decoration: none;
    z-index: 10;
}

.props{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    gap: 2%;
    left: 2%;
    top: 12%;
}

#left {
    position: relative;
    top: 0;
    left: 3%;
    height: 80%;
    width: 20%;
    animation-delay: 2s;
    animation: floatUp2 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floatUp2 {
    0%, 100% { transform: translateY(-20); }
    50% { transform: translateY(10px); }
}

#right {
    position: relative;
    top: 0;
    left: 5%;
    height: 80%;
    width: 20%;
    z-index: 1;
    animation-delay: 2s;
    animation: floatUp3 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floatUp3 {
    0%, 100% { transform: translateY(30); }
    50% { transform: translateY(-40px); }
}

