* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

/* .page-section {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
} */

/* HEADER */

.header {
    position: fixed;
    display: flex;
    top: 1.5%;
    left: 0;
    width: 100vw;
    height: 7%;
    padding: 20px 3%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    overflow-wrap: normal;
}

.logo img {
    position: relative;
    display: flex;
    top: 10%;
    left: 3%;
    height:6rem;
    width: 10rem;
}

.navbar a {
    position: relative;
    display: flex;
    font-size: 130%;
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    letter-spacing: 0.2rem;
    margin: 0 25px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: -9px;
    top: 0;
    height: 110%;
    width: 125%;
    background-color: #eead2b;
    background-position: center;
    border-radius: 5px;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.navbar a:hover::after,
.navbar a:active{
    color: #ffffff;
    transform: scaleY(1.75) ;
    opacity: 1;
}

/* Landing */

.Main {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.BG {
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;

}

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.Mainsub {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 80%;
    width: 80%;
    top: 10%;
    right: 5%;
}

.Pose {
    position: absolute;
    height: 95%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 400px;
}

.tagline {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 45%;
    z-index: 2;
    height: 55%;
    width: 60%;
    justify-content: center;
}

.tagline p#p1 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline p#p2 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline h1#headline {
    z-index: 2;
    color: #eead2b;
    font-size: clamp(1rem, 5vw, 7rem);
    font-weight: bold;
    letter-spacing: 0.5%;
    font-family: Georgia;
}

/* SKILL */


.Mainsub1 {
    position: relative;
    display: flex;
    top: 10%;
    height: 50%;
    width: 60%;
}

.skill h1#name {
    position: absolute;
    display: flex;
    /* top: 20rem;
    left: 15rem; */
    z-index: 2;
    color: #eead2b;
    font-size: clamp(1rem, 6vw, 6rem);
    letter-spacing: 0.5px;
    font-family: Georgia;
}

.skill p#p3 {
    position: absolute;
    display: flex;
    top: 26.2rem;
    left: 15rem;
    z-index: 2;
    color: #eaeaeb;
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: Helvetica;
    font-weight: bold;
}
.seats {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.skill {
    position: relative;
    top: 15%;
    width: 100%;
    height: 80rem;
    background-image: linear-gradient(to top, rgb(53, 5, 5) 1%, rgb(7, 0, 0) 40%);
}

.skill .card {
    position: absolute;
    top: 27.5rem;
    left: 12rem;
    background-color: transparent;
    background-image: url(Resources/Images/Placard.png);
    background-size: cover;
    height: 25rem;
    width: 35rem;
    z-index: 2;
}

.skill .card p {
    position: relative;
    top: 5rem;
    left: 6rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.skill .card ul {
    position: relative;
    top: 5.5rem;
    left: 9rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.skill .deck {
    position: relative;
    top: 8rem;
    left: 55rem;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    height: 45rem;
    width: 60rem;
    z-index: 2;
    opacity: 0.6;
}