* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

/* .page-section {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
} */

/* HEADER */

.header {
    position: fixed;
    display: flex;
    top: 1.5%;
    left: 0;
    width: 100vw;
    height: 7%;
    padding: 20px 3%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    overflow-wrap: normal;
}

.logo img {
    position: relative;
    display: flex;
    top: 10%;
    left: 3%;
    height:6rem;
    width: 10rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar a {
    position: relative;
    display: flex;
    font-size: 130%;
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    letter-spacing: 0.2rem;
    margin: 0 25px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: -9px;
    top: 0;
    height: 110%;
    width: 125%;
    background-color: #eead2b;
    background-position: center;
    border-radius: 5px;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.navbar a:hover::after,
.navbar a:active{
    color: #ffffff;
    transform: scaleY(1.75) ;
    opacity: 1;
}

/* Landing */

.Main {
    position: relative;
    display: flex;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.BG {
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;

}

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.Mainsub {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 80%;
    width: 80%;
    top: 10%;
    right: 5%;
}

.Pose {
    position: absolute;
    height: 95%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 400px;
}

.tagline {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 45%;
    z-index: 2;
    height: 55%;
    width: 60%;
    justify-content: center;
}

.tagline p#p1 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline p#p2 {
    color: #eaeaeb;
    font-size: clamp(0.2rem, 1.7vw, 2.3rem);
    font-family: Helvetica;
    font-weight: bold;
}

.tagline h1#headline {
    z-index: 2;
    color: #eead2b;
    font-size: clamp(1rem, 5vw, 7rem);
    font-weight: bold;
    letter-spacing: 0.5%;
    font-family: Georgia;
}

.seats {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 2;
}

/* SKILL */

.skill {
    position: relative;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    top: 15%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(53, 5, 5) 1%, rgb(7, 0, 0) 40%);
}

.Mainsub1 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 70%;
    width: 32%;
    justify-content: center;
    gap: 2%;
}

.Mainsub1 h1#name {
    position: relative;
    z-index: 2;
    left: 0.6em;
    color: #eead2b;
    font-size: clamp(2rem, 4vw, 5em);
    letter-spacing: 0.5px;
    font-family: Georgia;
}

.Mainsub1 p#p3 {
    position: relative;
    display: flex;
    top: -3%;
    left: 2em;
    z-index: 2;
    color: #eaeaeb;
    font-size: clamp(1rem, 1vw, 2em);
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1.3;
}


.Mainsub1 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-image: url(Resources/Images/Placard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-start;
    height: 60%;
    width: 100%;
    z-index: 2;
    bottom: 4%;
    justify-content: center;
}

.skill .card p {
    position: relative;
    /* top: 20%; */
    left: 15%;
    font-size: clamp(1rem, 2vw, 3em);
    letter-spacing: 0.2rem;
}

.skill .card ul {
    position: relative;
    /* top: 19%; */
    left: 25%;
    font-size: clamp(1rem, 1.2vw, 2em);
    /* letter-spacing: 0.1rem;
    word-spacing: 0.1rem; */
}

/* DECK */

.skill .deck {
    position: relative;
    top: 5%;
    height: 80vh;
    width: 50%;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    /* perspective: 10000px; */
}
 .deck .slider {
    position: absolute;
    justify-content: center;
    width: 30%;
    height: 50%;
    top: 25%;
    left: 40%;
    left: calc(50% -100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    /* transform: rotateY(0deg); */
 }

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
    } to {
        transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
    }
}


 .deck .slider .item {
    position:absolute;
    inset: 0 0 0 0;
    /* transform-origin: 0 0 0; */
    transform: 
        rotateY(calc((var(--position) - 1) * (360/var(--quantity)) *1deg))
        translateZ(250px);
 }

 .deck .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block;
    margin: auto;
    border-radius: 10px; */
 }

 .item {
    color: whitesmoke;
    font-family: Georgia;
    font-size: 1.5em;
    font-weight: bold;
 }